boddy {
    font-family: sans-serif;
}

/* Menu hamburguer parte 3*/
.wrapper {
    background-color: rgb(50, 30, 70);
    width: 100%;
    height: 100px;
    margin-top: 0%;
}

.checkbox {
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    position: relative;
    cursor: pointer;
}

.checkbox .trace {
    width: 99px;
    height: 8px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    border-radius: 4px;
    border-radius: 4px;
    transition: 0.5s ease-in-out;
    margin-left: 40px;
}

.checkbox .trace:nth-child(1) {
    top: 26px;
    transform: rotate(0);
}

.checkbox .trace:nth-child(2) {
    top: 46px;
    transform: rotate(0);
}

.checkbox .trace:nth-child(3) {
    top: 66px;
    transform: rotate(0);
}

#toggle {
    display: none;
}

#toggle:checked + .checkbox .trace:nth-child(1) {
    transform: rotate(45deg);
    top: 47px;
}

#toggle:checked + .checkbox .trace:nth-child(2) {
    transform: translate(-100px);
    width: 30px;
    visibility: hidden;
    opacity: 0;
}

#toggle:checked + .checkbox .trace:nth-child(3) {
    transform: rotate(-45deg);
    top: 48px;
}

/* Fim menu hamburguer*/