boddy {
    font-family: sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    height: 400px;
    width: 500;
    background-image: url(hb1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}